.instrument_image {
  width: 95%;
}

th {
  min-width: 85px;
}

.schedule {
  margin-bottom: 50px;
}

.ui-grid-row div {
  padding: 4px 10px
}

.ui-grid-row div label {
  font-weight: bold;
}
.panel-heading{
  background-color: #3a87ad;
  color: #ffffff;
}

.ui-grid-row .errorColor{
  color: #e51c23;
}

.panel .panel-body .chart button{
  background-color: #DB5956;
}

/*.colorRec{*/
  /*left:0;*/
/*}*/

/*.colorRec div .btn,.btn-default{*/
  /*background-color: #23d271;*/
/*}*/

.reservation_sign input {
  margin: 5px ;
}


 .ui-state-highlight{
  background: #dc4b1a;
}
