<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{instrument?.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-5">
        <div *ngIf="instrument">
          <img src="{{instrument.image}}" class="thumbnail instrument_image">
        </div>
      </div>
      <div class="col-sm-6 well">
        <table class="table table-striped table-hover table-responsive">
          <tr>
            <th>位置:</th>
            <td>{{instrument?.location}}</td>
          </tr>
          <tr>
            <th>设备型号:</th>
            <td>{{instrument?.manufacturer?.chinese_name || instrument?.manufacturer?.english_name}}
              ({{instrument?.model}})
            </td>
          </tr>
          <tr>
            <th>设备状态:</th>
            <td>正常（可预约使用）</td>
          </tr>
          <tr>
            <th>管理员:</th>
            <td>{{instrument?.admin.last_name + instrument?.admin.first_name}}</td>
          </tr>
          <tr>
            <th>电话:</th>
            <td>{{instrument?.admin.phone}}</td>
          </tr>
          <tr>
            <th>邮箱:</th>
            <td>{{instrument?.admin.email}}</td>
          </tr>
          <tr>
            <th>预约时间</th>
            <td>{{instrument?.reservation_start_time}} - {{instrument?.reservation_end_time}}</td>
          </tr>
          <tr *ngIf="instrument?.description">
            <th>功能描述:</th>
            <td>{{instrument.description}}</td>
          </tr>
          <tr *ngIf="instrument?.application">
            <th>使用范围:</th>
            <td>{{instrument.application}}</td>
          </tr>
          <tr *ngIf="instrument?.accessories">
            <th>配件明细:</th>
            <td>{{instrument.accessories}}</td>
          </tr>
        </table>
        <div class="pull-right" *ngIf="!daSchedule; else daTep">
          <button class="btn btn-warning" (click)="toggle()">切换分析表</button>
        </div>
        <ng-template #daTep>
          <div class="pull-right">
            <button class="btn btn-warning" (click)="toggle()">切换日程表</button>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row schedule" *ngIf="!daSchedule">
      <div class="content-section implementation">
        <p-schedule [events]="scheduleEvents"
                    [header]="header"
                    [editable]="true"
                    [eventOverlap]="false"
                    [eventConstraint]="event_Constraint"
                    [businessHours]="businessHours"
                    locale="zh-cn"
                    defaultView="agendaWeek"
                    nowIndicator="true"
                    (onEventClick)="handleEventClick($event)"
                    (onDayClick)="handleDayClick($event)"
                    (onEventDrop)="handleDragResize($event)"
                    (onEventResize)="handleDragResize($event)"
        >
        </p-schedule>

        <p-dialog header="预约详情" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false"
                  [contentStyle]="{'overflow':'visible'}"
                  [style]="{'overflow':'visible'}" [resizable]="false">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label>姓名</label></div>
              <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" disabled/></div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label>开始时间</label></div>
              <!--<div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>-->
              <div class="ui-grid-col-8">
                <input class="picker-input"
                       pInputText
                       dateTimePicker
                       [value]="event.start | date:'yyyy-MM-dd | HH:mm:ss'"
                       [(ngModel)]="event.start"
                       (onChange)="setStart($event)"
                       [mode]=" 'popup' "
                       [pickerType]=" 'time' "
                       readonly
                >
              </div>
              <!--[minMoment]="min_start"-->
              <!--[maxMoment]="max"-->
              <!--[minMoment]="min_end"-->
              <!--[maxMoment]="max"-->
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label>结束时间</label></div>
              <div class="ui-grid-col-8">
                <input class="picker-input"
                       pInputText
                       dateTimePicker
                       [value]="event.end | date:'yyyy-MM-dd | HH:mm:ss'"
                       [(ngModel)]="event.end"
                       (onChange)="setEnd($event)"
                       [mode]=" 'popup' "
                       [pickerType]=" 'time' "
                       readonly
                >
              </div>
            </div>
            <div class="ui-grid-row" *ngIf="!isSaved">
              <div class="ui-grid-col-4"><label class="errorColor">温馨提示：</label></div>
              <div class="ui-grid-col-8" >
                <ul *ngFor="let errorStatus of errorsStatus" class="list-unstyled">
                  <li class="errorColor" *ngIf="!errorStatus.status">
                    <p>{{errorStatus.message}}</p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete"
                      [disabled]="!event?.id"></button>
              <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save"
                      [disabled]="!event?.start || !event?.end || !isSaved"></button>
            </div>
          </p-footer>
        </p-dialog>
      </div>
    </div>
    <div *ngIf="daSchedule">
      <da-schedule></da-schedule>
    </div>
  </div>
</div>
