.instrument_image {
  width: 95%;
}

th {
  min-width: 85px;
}

.schedule {
  margin-bottom: 50px;
}

.ui-grid-row div {
  padding: 4px 10px
}

.ui-grid-row div label {
  font-weight: bold;
}
.panel-heading{
  background-color: #66afe9;
  color: #ffffff;
}

.ui-grid-row{
  margin: 10px;
}
