li.selected{
    background-color: #eeeeee;
}
.panel-heading h5{
  color: #ffffff;
}
.panel-body{
    padding: 15px 0px 15px 0px;
}
.panel-heading{
  background-color: #66afe9;
}

ul li a:hover{
  background-color: #66afe9;
  color: #ffffff;
}
